<html>
    <body>
        <link rel="stylesheet" href="style.css">
        <h1>
            Add new task:
        </h1>

        <form action="newTask" method="POST">
            Task Name <input type="text" name ="taskName" /> <br />
            Task Due Date <input type="text" name ="taskDueDate" /> <br />
            Task Description <input type="text" name ="taskDescription" /> <br />
            <button>Submit</button>
        </form>

        <a href="/"> Home</a>
        <a href="alltasks.html"> All tasks</a>
    </body>
</html>