<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <style>
                table,th,td {
                    border: 1px solid black;
                }
        </style>
    </head>
    <body>
        <table>
            <tr>
                <td>Task Name</td>
                <td>Task Due Date</td>
                <td>Task Description</td>
            </tr>
            <% for ( var i =0; i< task.length;i++){ %>
                <tr>
                    <td>
                        <%= task[i].taskName %>
                    </td>
                    <td>
                        <%= task[i].taskDueDate %>
                    </td>
                    <td>
                        <%= task[i].taskDescription %>
                    </td>
                </tr>
            <% }%>
        </table>
        <a href="/"> Home</a>
        <a href="addtask.html"> Add new task</a>
    </body>
</html>